DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=your_password_here
DB__NAME=FaceitCompetitiveRatingService
DB__ECHO=False

DEBUG=false

FACEIT__API_KEY=your_faceit_api_key_here
FACEIT__DEFAULT_LANGUAGE=en

PLAYER__MIN_MATCHES_FOR_ANALYSIS=10
PLAYER__TTL_SECONDS=3600

PLAYER_STATS__MIN_MATCHES_FOR_ANALYSIS=30
PLAYER_STATS__TTL_SECONDS=3600

MATCH_HISTORY__LIMIT=500
MATCH_HISTORY__TTL_SECONDS=86400
MATCH_HISTORY__REFRESH_TIMEOUT=15
MATCH_HISTORY__MAX_RETRIES=1

RATE_LIMIT__DEFAULT=60/minute
RATE_LIMIT__EXPENSIVE=20/minute

CORS__ALLOW_ORIGINS=["*"]
CORS__ALLOW_METHODS=["GET"]
CORS__ALLOW_HEADERS=["Content-Type", "Accept"]
CORS__ALLOW_CREDENTIALS=false
